---
import { getCollection, render, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post: CollectionEntry<"blog">) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = { post: CollectionEntry<"blog"> };
const { post } = Astro.props;
const { Content } = await render(post);

const date = post.data.date.toISOString().slice(0, 10);
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <header>
    <h1>{post.data.title}</h1>
    <time datetime={date}>{date}</time>
  </header>
  <Content />
  <a href="/">&larr; Home</a>
</BaseLayout>
